flask
numpy 
pandas
requests
pickle
contourpy == 1.0.6
cycler == 0.11.0
fonttools == 4.38.0
kiwisolver == 1.4.4 
matplotlib == 3.6.2 
packaging == 22.0
pillow == 9.3.0 
pyparsing == 3.0.9 
seaborn == 0.12.1
patsy == 0.5.3 
plotly == 5.11.0 
plotly-express == 0.4.1 
scipy == 1.9.3 
statsmodels == 0.13.5 
tenacity == 8.1.0
scikit-learn == 1.2.0
threadpoolctl == 3.1.0