<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RECOMMENDATION_SYSTEM_APP</title>
    <link rel="stylesheet" href="static\style.css">
</head>

<body>
    <h1 class = "h1">RECOMMENDATION SYSTEM APP</h1>
    <br * 10> 
    <p>Please, enter an user_id and press button for generating new recommandations</p>
    <form action="/" method="post">
        <input type="text" value="user_id">
        <button type="submit">submit</button>
        <button type="submit" style = "background-color: red;">generate</button>


    </form>
</body>
</html>